[user]
	name = Ryan Detzel
    email = ryan.detzel@gmail.com

[core]
    editor = vim
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true

[color]
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    remote = green bold
    local = blue bold

[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green bold

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    d = checkout dev-mainline
    pd = pull origin dev-mainline

[push]
	default = current
